.NavigationItem {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.NavigationItem a {
    color: #000000;
    text-decoration: none;
    padding: 14px 10px;
    font-weight: bold;
}


.NavigationItem a.active{
    border: black 2px solid;
}

