.NotFound.wrapper{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NotFound.goHome{
    margin-top: 10px;
}

.NotFound.info{
    font-weight: bold;
}